.transactionHistory {
  width: 600px;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}

.name {
  background-color: rgb(87, 214, 98);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  width: 33.3%;
}

.string {
  text-align: center;
}

.string:nth-child(even) {
  background-color: rgb(163, 224, 211);
}

.td {
  padding: 8px;
}

.th {
  padding: 8px;
}
